@page
@model Semester_Project.Pages.frontend.CapsulesModel
@{
    Layout = "_LayoutFront";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <style>
        body {
            background: linear-gradient(to right, #C9D6FF, #E2E2E2);
            height: 100vh;
        }

        .slider_area {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            margin-top: 1000px;
        }

        .slider_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        .slider_text {
            position: relative;
            text-align: center;
            color: #fff;
            z-index: 2;
        }

            .slider_text h3 {
                font-size: 3rem;
                font-weight: bold;
                color: aliceblue;
            }

        .boxed-btn5 {
            display: inline-block;
            padding: 10px 20px;
            background: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>

</head>
<body>
    
    <div class="row" style="margin-top:65px;">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <a class="btn btn-primary" style="color: #002278;background: #fff;" href="#">Login</a>
                <a class=" btn btn-primary" style="color: #002278;background: #fff;" href="#test-form">Signup</a>
            </div>
        </div>
    </div>
    <!-- header-end -->

    <div class="row my-5 text-center fw-bold fs-4">
        <div class="col-md-12">Single Capsule Page</div>
    </div>
    <!-- Product Card Start-->
    <div class="container">
    <div class="row">
            @foreach (var item in Model.showCapsule)
        {
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="@item.Image" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">@item.Product</h1>
                    <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    </div>
</body>
