 @page
@using System.Data.SqlClient;
@model Semester_Project.Pages.frontend.CareerModel
@{
    Layout = "_LayoutFront";
}
@{
    var role = HttpContext.Session.GetString("role");
    var name = HttpContext.Session.GetString("name");
    var id = HttpContext.Session.GetInt32("id");
}
<style>
    body {
        background: linear-gradient(to right, #C9D6FF, #E2E2E2);
        min-height: 100vh;
    }

    .btn-custom {
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
    }
</style>

<div class="container d-flex flex-column min-vh-100">
    <div class="flex-grow-1 mt-5 ">
        @if (role == "admin" || role == "user")
        {
            <div class="row justify-content-center">
                @if (Model.showPortfolio.Count > 0)
                {
                    @foreach (var item in Model.showPortfolio)
                    {
                        <div class="col-md-8 mb-3">
                            <div class="card shadow-sm p-3">
                                @if (string.IsNullOrEmpty(item.description))
                                {
                                    <h5 class="text-muted">No Description</h5>
                                }
                                else
                                {
                                    <h5>@item.description</h5>
                                <a href="deletePortfolio?id=@item.user_id" class="btn btn-dark w-100 btn-custom mt-2">Delete Portfolio</a>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h1>No portfolio found.</h1>
                        <a href="AddPortfolio">
                    <button>
                            Add Portfolio
                    </button>
                        </a>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center align-items-center min-vh-100">
                <div class="card shadow-lg p-5 text-center bg-light">
                    <h1 class="text-danger fw-bold">You Are Not Logged In</h1>
                    <p class="text-muted fs-5">Login to see your portfolio.</p>
                    <a asp-page="frontend/Login" class="btn btn-dark btn-custom mt-3 px-4">Login Now</a>
                </div>
            </div>
        }
    </div>
</div>
 